<div class="card-item p-3 border-3">
  <div class="row d-flex flex-wrap
  justify-content-around align-items-center ">
  <h3 class="text-primary text-center"><a routerLink="/cars-list" style="text-decoration: none;">list / </a> car details</h3>
<div class="col-md-5">
    <img class=" img-fluid w-100" src="assets/images/peg.png" alt="">
</div>

    <div class="col-md-5 text-center">

       <div class="card-info">
         <h5>
          <!-- id : {{carObj.id}} -->
          <br>
          Name : {{carObj.make}}
          <br>
          model : {{carObj.model}}
          <br>
          color : {{carObj.color}}
         </h5>

    </div>
    </div>

  </div>

 </div>
